<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>MMall电商平台</title>
	<link rel="shortcut icon" href="/dist/favicon.ico"><link href="/dist/css/common.css?15f671ed6dc4a5dc168d" rel="stylesheet"></head>
	<body>
		<h2>test index</h2>
		<div class="loading"></div>
		<i class="fa fa-user"></i>
		<div>this is footer</div>

	<script type="text/javascript" src="/dist/js/base.js?15f671ed6dc4a5dc168d"></script><script type="text/javascript" src="/dist/js/index.js?15f671ed6dc4a5dc168d"></script></body>
</html>
